<mat-card class="max-w-7x1 mx-auto">
  <mat-card-title>{{ isLoginMode ? 'Login' : 'Signup'}}</mat-card-title>
  <mat-card-content class="max-w-5x1 mx-auto">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm)">
      <p>
        <mat-form-field>
          <input
            type="email"
            name="email"
            matInput
            placeholder="Email"
            formControlName="email"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input
            type="password"
            matInput
            placeholder="Password"
            formControlName="password"
            minlength="4"
          />
        </mat-form-field>
      </p>
      <p *ngIf="!authForm.valid && authForm.get('email')?.touched" >
        Please enter a valid email!
      </p>
      <p *ngIf="!authForm.valid && authForm.get('password')?.touched" >
        Please enter a valid password!
      </p>
      <div class="">
        <div>
          <button 
            type="submit"
            [disabled]="!authForm.valid"
            mat-raised-button	color="primary">{{ isLoginMode ? 'Login' : 'Signup'}}
          </button>
        </div>
        <div>
          <button 
            type="button"
            (click)="onSwitchMode()"
            mat-button>{{ isLoginMode ? 'Create an account' : 'I already have an account'}}
          </button>
        </div>
        <p *ngIf="error" class="error ">{{this.error}}</p>
      </div>
    </form>
  </mat-card-content>
</mat-card>
