<mat-drawer-container 
  [autosize]="true"
  class="min-h-full max-w-7x1 mx-auto border-x">
  
  <mat-drawer mode="side" opened class="p-2" disableClose>
    <div class="flex justify-between">
      <button (click)="onSidebarOpen()" mat-icon-button>
        <mat-icon *ngIf="navOpen">menu</mat-icon>
        <mat-icon *ngIf="!navOpen">last_page</mat-icon>
      </button>
      <button *ngIf="navOpen" (click)="onSidebarClose()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="navOpen">
      <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    </ng-container>
  </mat-drawer>


  <mat-drawer-content class="p-6">
    <app-products-header 
    (columnsCountChange)="onColumnsCountChange($event)" 
    (itemsColumnsChange)="onItemsCountChange($event)"
    (sortChange)="onSortChange($event)"
    ></app-products-header>
    <mat-grid-list
      gutterSize="16"
      [cols]="cols"
      [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products">
        <app-product-box 
          [product]="product"
          (addToCart)="onAddToCart($event)"
          class="w-full" 
          [fullWidthMode]="cols === 1"
          ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>